.mainLayout {
    height: 800px;
    width: 50%;
    background-color: aliceblue;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 10px;
}

.center{
    padding-top: 2.0rem;
    width: 50%; /* px or %, use % in order to make it responsive!*/
    margin: auto;
    text-align: center;
}
.btn{
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: red;
    color:#fff;
}

.pic{
    text-align: center;
    margin: auto;
}
.signin{
    text-align: center;
    color: orange;
}